* {
  box-sizing: border-box;
}

body {
  font-family: Marker Felt, fantasy;
  font-size: 22px;
}

img {
  margin: 20px auto;
  width: 70%;
}

.main-container {
  display: flex;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
  max-height: 75vh;
}

.maps-container {
  width: 75%;
  border: solid 1px black;
  margin: 0;
}

.search-bar {
  width: 80%;
  font-family: fantasy;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-fact-container {
  flex: auto;
  overflow: scroll;
}


.maps-hero {
  display: flex;
  justify-content: center;
}

.map {
  height: 400px;
  width: 90%;
  margin: 15px auto 20px auto;
}

.fact  {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

.banner {
  font-size: 35px;
  font-family: Marker Felt, fantasy;
  margin-top: 15px;
}

.header-text {
  font-size: 20px;
  text-align: center;
  margin: 0 10% 20px 10%;
  font-size: 25px;
}

.facts-hero {
  background-color:#daeffe;
  padding: 10px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

.accordion {
  background-color: #daeffe;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #daeffe66; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
}

.custom-map-control-button {
  padding: 3px;
  background-color: rgba(255, 255, 255, 70%);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 2px;
}

.custom-map-control-button:hover{
  background-color: rgb(242, 242, 242);
}

#fav-dog-facts {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

/* mobile phone */
@media screen and (min-width: 768px){
  header {
    justify-content: space-between;
  }
  
  #mainSection {
    margin: 75px 20% 20px;
  }
  #mainBody {
      text-align: left;
  }
} 

/* tablet */
 @media screen and (min-width: 992px) {
  header {
      justify-content: space-between;
  }
  #mainSection {
      margin: 75px 20% 20px;
  }
  #mainBody {
      text-align: left;
  }
}